# .dockerignore

# Ignorar la carpeta de modelos entrenados
modelos_entrenados/

# Ignorar archivos y carpetas de Python
__pycache__/
*.pyc
*.pyo
*.pyd
new_vevnv/

# Ignorar archivos de configuración de editores y sistema
.vscode/
.idea/
.DS_Store

node_modules/