# .gitignore para un proyecto de Python (Flask) + React + Machine Learning

# # Archivos y Carpetas de Entornos Virtuales de Python
# Ignorar la carpeta completa del entorno virtual. Es crucial.
new_vevnv/
venv/
*.venv
env/

# # Archivos de Cache y Compilados de Python
# Ignorar la carpeta de caché que Python crea automáticamente.
__pycache__/
*.pyc
*.pyo
*.pyd

# Directorios de Keras Tuner
kt_dir_*
tuner_logs/

#archivos 
CodigosUtiles.md
graficos.py
porsi.py
porsinofunciona.py
tf2.py

# Ignorar el directorio temporal que usa KerasTuner para sus pruebas.
keras_tuner_dir/

# datos locales (CSVs, etc.).
*.csv
*.numbers


