# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

App2.js

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage


# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
new_vevnv/
venv/

npm-debug.log*
yarn-debug.log*
yarn-error.log*


echo "new_vevnv/
*.pyc
__pycache__/
.ipynb_checkpoints/
.DS_Store
.env
*.egg-info/
" > .gitignore

# Carpetas de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de Keras Tuner
tuner_logs/

# Archivos y carpetas de Node.js / Frontend
# -----------------------------------------
# La carpeta de todas las dependencias instaladas. ¡Es la más importante a ignorar!
frontend/node_modules
node_modules/

# Archivos de log de npm
frontend/npm-debug.log*
npm-debug.log*

# El directorio de la build de producción de React
frontend/build
build/

# Archivos y carpetas de Cypress
# --------------------------------
# Ignorar los artefactos generados por las pruebas de Cypress
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Archivos de Sistema Operativo
# -----------------------------
# macOS
.DS_Store
# Windows
Thumbs.db

# Archivos de Entorno
# -------------------
# ¡MUY IMPORTANTE! Si alguna vez creas un archivo .env para guardar
# contraseñas o claves de API, esta línea evita que se suba accidentalmente.
.env
*.env
.env.*

# Archivos de Configuración del Editor de Código
# ------------------------------------------
.vscode/
.idea/

