body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa; /* Celeste claro */
  color: #004d73; /* Azul oscuro */
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Evitar scroll horizontal innecesario */
}

.back-button {
  position: absolute;   
  top: 5px;
  left: 15px; 

  background: none;
  border: none;
  padding: 5px;
  margin: 0;      
  
 
  font-size: 28px;     
  font-weight: bold;    
  color: #105989;  
  
  cursor: pointer;
  transition: transform 0.2s ease;
}

/* Contenedor principal de la página */
.container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  padding-top: 20px;
  width: 100%;
}


.h2 {
  color: #005b96;
  font-size: 1.5em; /* Un poco más grande para darle jerarquía */
  margin-top: 0; 
  margin-bottom: 0;
}

/* Contenedor para el <select> y el <button> */
.predict-controls {
  display: flex;           
  justify-content: center; 
  align-items: center;     
  gap: 15px;               
  width: 100%;
  margin-top: 0;
}

/* Estilos para el menú desplegable */
.predict-controls select {
  padding: 10px 15px;
  font-size: 16px;
  min-width: 200px;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  height: 45px; 
}

.prediction-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Para que se adapte en pantallas pequeñas */
}

.prediction-header h3 {
  margin: 0;
}

.prediction-month {
  margin: 0;
  font-weight: 400;
  font-size: 1.1em;
  color: #555;
  background-color: #eef2f5;
  padding: 8px 12px;
  border-radius: 8px;
}

.prediction-month strong {
  color: #005b96;
}

/* Estilos para el botón principal */
.primary-button {
  background-color: #005b96;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, background-color 0.2s;
  box-sizing: border-box;
  height: 45px; 
}

.primary-button:hover {
  transform: translateY(-2px);
  background-color: #005b96;
}

.table-container {
  max-width: 90%;
  overflow-x: auto;
  margin: 1px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

table {
  margin: 1px;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
  border: 1px solid #b3e5fc;
  
}

th, td {
  text-align: center;
  vertical-align: middle;
  border-right: 1px solid #e9ecef;
  
}

th:last-child,
td:last-child {
  border-right: none;
}

th {
  padding: 1px 3px;
  background-color: #004d73;
  color: #ffffff;
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border-bottom: 2px solid #dee2e6;
}

td {
  padding: 2px 6px;
  font-size: 12px;
  color: #343a40;
  border-bottom: 1px solid #e0f7fa;
}

.prediction-container {
  margin-top: 10px;
  border: 1px solid #b3e5fc;
  padding: 5px;
  border-radius: 10px;
  width: 80%;
  max-width: 800px;
  background-color: #f1f9ff; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.tabs-header {
  display: flex;
  flex-wrap: wrap;
  gap: 8px; 
  padding-bottom: 5px; 
  justify-content: center; 
  margin-top: 5px;
}



.tab-title {
  padding: 6px 12px;
  border-radius: 8px;
  background-color: #005b96; 
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.tab-title.active {
  background-color: #ffffff;
  color: #005b96;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  border: 1px solid #cce1f1;
}

.close-tab {
  background-color: transparent;
  border: none;
  color: #ff0000; /* Rojo para la 'X' */
  font-weight: bold;
  cursor: pointer;
  margin-left: 8px;
  font-size: 18px;
  line-height: 1;
  padding: 0 2px;
}


.prediction-tab ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.logo2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 80px;
  height: auto;
}

.logo1 {
  position: relative;
  top: 10px;
  margin: 0 auto;
  display: block;
  width: 250px;
  height: auto;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.pagination button {
  background-color: #007bb5;
  color: white;
  border: none;
  padding: 6px 12px; 
  font-size: 12px;
  cursor: pointer;
  border-radius: 5px;
}

.pagination button.active {
  background-color: #005f8b; 
}

.pagination button:disabled {
  background-color: #b3e5fc; 
  color: #004d73;
  cursor: not-allowed;
}

.filters-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  margin-bottom: 10px; 
}

.filter-select {
  padding: 8px;
  font-size: 12px;
  border: 1px solid #ced4da;
  border-radius: 8px;
  background-color: white;
  min-width: 20px;
  cursor: pointer;
}


.prediction-item {
  background-color: white;
  border: 1px solid #cce1f1;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.prediction-main {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.prediction-main strong {
  color: #333;
}


.prediction-label {
  font-weight: bold;
  padding: 6px 12px;
  border-radius: 16px;
  color: white;
  font-size: 0.9em;
  text-align: center;
  min-width: 150px; 
}

/* Colores específicos para cada nivel de alerta */
.prediction-alerta, .prediction-alerta-1 { /* Alerta 1 */
  background-color: #ebc52d; /* Amarillo */
  color: #333;
}
.prediction-emergencia, .prediction-alerta-2, .prediction-dominante { /* Alerta 2 */
  background-color: #cf4132; /* Rojo */
}
.prediction-vigilancia, .prediction-no-dominante{ /* Vigilancia */
  background-color: #5ab151; /* Verde */
}

.prediction-nodata {
  background-color: #bdc3c7; /* Gris */
}


.metrics {
  font-size: 0.9em;
  color: #555;
  border-top: 1px dashed #e0e0e0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between; 
  flex-wrap: wrap; 
}

.metrics span {
  margin-right: 15px;
}

.legend {
  margin-top: 20px;
}

.legend-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1px;
  line-height: 1.5;    
}

.legend-color {
  width: 16px;
  height: 1px;
  border-radius: 50%;
  margin-right: 12px; 
  flex-shrink: 0;
  margin-top: 1px;
}


.legend-text strong {
  margin-right: 6px;
}


.legend-color.green {
  background-color: #28a745;
}
.legend-color.yellow {
  background-color: #ffc107;
}
.legend-color.red {
  background-color: #dc3545;
}